# macOS system files
.DS_Store
.AppleDouble
.LSOverride
Icon
._*

# lsps
.ruby-lsp

# Jekyll site
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
vendor/
.bundle/
*.gem

# Local dev
.ruby-version
.env
*.log

# IDE/Editor folders
.idea/
.vscode/
*.swp
*.swo
