<!doctype html>
<html lang="en">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <head>
    <meta charset="UTF-8" />
    <title>tollef.web</title>
    <link rel="stylesheet" href="{ROOT}styles/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/styles/atom-one-dark.min.css"
    />
  </head>
  <body>
    <h1><a href="{ROOT}index.html">tollef.web</a></h1>
    <main>{CONTENT}</main>
    <main>{TOOLS}</main>
    <footer>
      <div class="content">
        <div id="footer-left">
          <p>tollef jørgensen &#169;2025</p>
        </div>
        <div id="footer-right">
          <p><a href="https://linkedin.com/in/tollefj">linkedin</a></p>
          <p><a href="https://github.com/tollefj">github</a></p>
          <p>
            <a
              href="https://scholar.google.com/citations?user=LpJWJnIAAAAJ&hl=en"
              >scholar</a
            >
          </p>
        </div>
      </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
  </body>
</html>
