<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/styles.css" />
    <!-- add favicons, 16x16, 32x32, apple, android chrome -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/assets/favicon/favicon-16x16.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/assets/favicon/favicon-32x32.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/assets/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="/assets/favicon/android-chrome-192x192.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="512x512"
      href="/assets/favicon/android-chrome-512x512.png"
    />
  </head>
  <body>
    <header>{% include header.html %}</header>
    <div class="top-container">
      <p>
        computer person, also PhD in language tech (soon ™️)
      </p>
    </div>
    <main>{{ content }}</main>

    <footer>{% include footer.html %}</footer>

    <script>
      window.store = {
        posts: [
          {% for post in site.posts %}
          {
            "title": "{{ post.title | escape }}",
            "url": "{{ post.url }}",
            "tags": {{ post.tags | jsonify }},
            "date": "{{ post.date | date: "%Y-%m-%d" }}",
          }{% if forloop.last == false %},{% endif %}
          {% endfor %}
        ]
      };
    </script>
  </body>
</html>

